body {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 40px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

#mood-buttons{
    display: flex;
}

ul {
    margin: 10px auto;            
    text-align: left;             
    max-width: 50px;            
}
